/* *{
    width: 90%;
} */

h1 {
    color: #ca1874;
    text-align: center;
    /* border-bottom: 2px  red; */
font-size: 2.5rem;
}

hr {
    width: 35%;

    height: 10px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px #ca1874;
    border-radius: 10px;
}
.questions-container{
    max-width: 90%;
    margin: auto;
}
h2{

    color: #ca1874; 
}
li{

    font-size: 1.2rem;
}